<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PUBPAY.me</title>


    <link rel="apple-touch-icon" sizes="57x57" href="images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
    <link rel="manifest" href="images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="stylesheets/style.css?v0.01">
    <link rel="stylesheet" href="fonts/Inter-4.0/inter.css">

    <!--  -->
    <script src="https://unpkg.com/nostr-tools/lib/nostr.bundle.js"></script>
    <script src="./javascripts/bolt11.min.js"></script>
  </head>
  <body>

    <div id="root">

      <div id="nav">
        <div id="navInner">
          <a id="logo" href="">
            PUB<span style="color: #000">PAY</span><span style="color: #0000001c">.me</span><span class="version">alpha 0.01</span>
          </a>
          <div id="navActions">

            <a id="settings" href="#" class="disabled" title="coming soon">
              <span class="material-symbols-outlined">settings</span>
            </a>
            <a id="login" href="#" class="disabled" title="coming soon">
              <span class="material-symbols-outlined">login</span>
            </a>
            <a id="newPayNote" class="cta" href="#">
              New Paynote
            </a>

          </div>
        </div>
      </div>

      <div id="container">

        <div id="feedSelector">
          <a href="#" class="feedSelectorLink active">
            Global
          </a>
          <a href="#" class="feedSelectorLink disabled" title="coming soon">
            Following
          </a>
          <a href="#" class="feedSelectorLink disabled" title="coming soon">
            High Rollers
          </a>
        </div>



        <div id="main">

        </div>

      </div>



      <div class="overlayContainer" id="viewJSON">
        <div class="overlayInner">
          <pre id="noteJSON">
          </pre>
          <a id="closeJSON" href="#" class="label">close</a>
        </div>
      </div>




      <div class="overlayContainer" id="newPayNoteForm">
        <div class="overlayInner">
            <div class="brand">PUB<span style="color: #cecece;">PAY</span><span style="color: #00000014;">.me</span></div>
            <form id="newKind1">
                <div class="formField">
                    <label for="payNoteContent" class="label">Your Note</label>
                    <textarea id="payNoteContent" name="payNoteContent" rows="4"></textarea>
                </div>

                <div class="formFieldGroup">
                  <div class="formField">
                      <label for="zapMin" class="label">Minimum amount <span class="tagName">zap-min</span></label>
                      <input type="text" id="zapMin" placeholder="1" name="zapMin">
                  </div>
                  <div class="formField">
                      <label for="zapMax" class="label">Maximum amount <span class="tagName">zap-max</span></label>
                      <input type="text" id="zapMax" placeholder="1000000000" name="zapMax">
                  </div>
                </div>

                <div class="formFieldGroup">
                  <div class="formField">
                      <label for="zapUses" class="label">Number of uses <span class="tagName">zap-uses</span></label>
                      <input type="text" id="zapUses" placeholder="1" name="zapUses">
                  </div>
                  <div class="formField disabled">
                      <label for="zapIncrement" class="label">Increment <span class="tagName">coming soon</span></label>
                      <input type="text" id="zapIncrement" placeholder="0" name="zapIncrement" disabled>
                  </div>
                </div>

                <div class="formField">
                    <label for="zapPayer" class="label">Specify who should pay <span class="tagName">zap-payer</span></label>
                    <input type="text" id="zapPayer" placeholder="npub1..." name="zapPayer">
                </div>

                <div class="formField">
                    <label for="overrideLNURL" class="label">Override LNURL <span class="tagName">zap-lnur</span></label>
                    <input type="text" id="overrideLNURL" placeholder="address@lnprovider.net" name="overrideLNURL">
                </div>

                <div class="formField disabled">
                    <label for="redirectToNote" class="label">Redirect payment to another note <span class="tagName">zap-redirect</span> <span class="tagName"> - coming soon</span> </label>
                    <input type="text" id="redirectToNote" placeholder="note1..." name="redirectToNote">
                </div>

                <button type="submit" class="cta">Post Note</button>
            </form>
            <a id="cancelNewNote" href="#" class="label">cancel</a>
        </div>
      </div>


    </div>


    <script type="text/javascript" type="module" src="javascripts/index.js?v=0.01"></script>
  </body>
</html>
