<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PUBPAY.me</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="57x57" href="images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
    <link rel="manifest" href="images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="stylesheets/style.css?v0.02">
    <link rel="stylesheet" href="fonts/Inter-4.0/inter.css">

    <script src="./javascripts/qrious.min.js"></script>
    <script src="./javascripts/bolt11.min.js"></script>
    <script src="./javascripts/nostrtools.min.js"></script>
  </head>
  <body class="live black">
    <script type="module" src="./javascripts/live.js"></script>


    <div id="noteLoaderContainer">
      <div action="" id="noteLoader">
        <label for="note1LoaderInput">note1</label><br>
        <input type="text" id="note1LoaderInput" name="note1LoaderInput" value="" placeholder="note16a..."><br>
        <input type="submit" value="Submit" id="note1LoaderSubmit">
        <div>
          <h3>Examples</h3>
          <a href="https://pubpay.me/live?note=note16a7m73en9w4artfclcnhqf8jzngepmg2j2et3l2yk0ksfhftv0ls3hugv7" target="_blank">
            "Zap my set at at Plan B at Adopting Bitcoin after party ⚡️" — Roger 9000
          </a>
          <a href="https://pubpay.me/live?note=note16a7m73en9w4artfclcnhqf8jzngepmg2j2et3l2yk0ksfhftv0ls3hugv7" target="_blank">
            "Zap my set at at Plan B at Adopting Bitcoin after party ⚡️" — Roger 9000
          </a>
        </div>
      </div>
    </div>


    <div id="liveContainer">

      <div class="seedNote">

        <a href="" target="_blank" id="qrcodeLinkNostr">
          <image id="qrCode" class="qrCode">
          </image>
        </a>

        <div class="seedNoteData">
          <div id="author" class="seedNoteAuthor">
            <img id="authorNameProfileImg" class="userImg" src="/images/gradient_color.gif"/>
            <div id="authorName" class="noteDisplayName">
            </div>
          </div>
          <div id="note">
            <div id="noteContent">
            </div>
          </div>
        </div>

      </div>

      <div id="zapsContainer">
        <div id="zaps">
        </div>
      </div>

    </div>


    <div class="liveZapOverlay">
    </div>

    <div id="bar">
      <div id="pubPayContent" class="">Scan with camera app to njump note1.</div>
    </div>


    <div id="poweredBy">
      <img src="/images/powered_by_white_bg.png">
    </div>


    <div id="zappedTotal">
      <div class="zapperTotalLabel">
        <span class="zapperAmountSats">Total</span><br>
        <span class="zapperAmountSats">sats</span>
      </div>
      <span id="zappedTotalValue"></span>
    </div>



  </body>
</html>
