body{
  margin: 0;
  font-family: "Inter", sans-serif;
}

.hide{
  display: none
}

#nav{
  width: 100%;
  border-bottom: 1px solid #ffffff;
  position: fixed;
  top: 0;
  z-index: 10;
  --border-bottom-width: 1.5px;
  --border-color: rgb(255, 255, 255);
  --border-left-width: 1.5px;
  --border-right-width: 1.5px;
  --border-style: solid;
  --border-top-width: 1.5px;
  backdrop-filter: blur(19px);
  background-color: rgb(249 250 251 / 51%);
  border-radius: 0 0 16px 16px;
  box-shadow: rgb(47 43 67 / 21%) -2px 3px 20px 0px;
  opacity: 1;
  transition: all 0.1s ease;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

#navInner, #main{
  max-width: 580px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

#navInner{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
}

#navActions{
  display: flex;
  align-content: center;
  align-items: center;
  column-gap: 15px;
}

#logo, .brand{
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px
}


.brand{
  color: #e2e2e2;
  text-align: center;
  margin-bottom: 20px;
}

#logo .version {
  color: #acacac96;
  display: block;
  font-size: 10px;
  margin-bottom: -5px;
  margin-top: -4px;
}

#container{
  width: 100%;
  margin-top: 80px;
  padding-bottom: 120px;
}




#feedSelector {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
    margin: auto;
}

a.feedSelectorLink:visited, a.feedSelectorLink {
    border-bottom: 1px solid #eaeaea;
    width: 33.333%;text-align: center;padding: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    font-size: 12px;
    color: #ccc;
}

a.feedSelectorLink.active {
    border-bottom: 2px solid #4b90ff;
    color:#4b90ff;
    font-weight: 900;
}




.paynote{
  display: flex;
  padding: 20px 30px 30px 20px;
  border: 1px solid #ffffff;
  margin-top: 30px;
  border-radius: 10px;
  column-gap: 15px;
  /* box-shadow: 0px 3px 4px #0000000a; */
  background: #fafafa;
  --border-bottom-width: 1.5px;
  --border-color: rgb(255, 255, 255);
  --border-left-width: 1.5px;
  --border-right-width: 1.5px;
  --border-style: solid;
  --border-top-width: 1.5px;
  background-color: rgb(249, 250, 251);
  border-radius: 16px;
  box-shadow: rgb(47 43 67 / 21%) -2px 3px 20px 0px;
  opacity: 1;
  transition: all 0.3s ease;
}

.paynote:hover{
  background:#fff;
  transform: scale(1.01);
}

.label.noteDate {
    font-size: 12px;
}

.forwardZap .paynote{
  background: #f5f8fd;
}

.noteProfileImg{
  width: 8%;
}

.userImg{
  border: 1px solid #cecece;
  border-radius: 300px
}


.zapReaction {
  position: relative;
  transition: all 0.1s ease;
}

.zapReaction:hover{
  transform: scale(1.8);
  z-index: 2;
}

.zapReaction:hover *{
  border-color:transparent
}

.zapReactionAmount {
    position: absolute;
    font-size: 6px;
    background: #4b90ff;
    color: #fff;
    padding: 2px;
    bottom: -2px;
    left: 5px;
    z-index: 1;
    border: #ccc solid 1px;
    border-radius: 3px;
    font-weight: 900;
    letter-spacing: 0.03rem;
}

.zapReactionAmount:hover{
  background:#1c73ff
}

.zapReaction a:visited{
  color: #fff;
}


.noteProfileImg img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.noteData{
  width: 90%;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.noteDisplayName {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin-bottom: 4px;
    letter-spacing: 0.01rem;
}

.noteAuthorLink{
    color: #000;
}
.noteAuthorLink:visited{
    color: #000;
}


.noteAuthor .label a{
    color: #ccc;
    font-size: 12px;
}

.noteAuthor .label .material-symbols-outlined {
  font-size: 12px;
  margin-top: -3px;
}

.noteContent {
  font-size: 18px;
  margin: 20px 0px;
  font-weight: 300;
  word-break: break-word;
  letter-spacing: 0.03rem;
}

.noteContent img {
    width: 100%;
    margin-top: 10px;
    filter: brightness(0.98);
}


.noteValues{
  display: flex;
  justify-content: space-between;
  margin: 21px 0 0px 0;
  border-top: 1px solid #ccc;
  padding: 8px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
}


.zapPayer{
  display: flex;
  justify-content: flex-start;
  margin: 21px 0 10px 0;
  border: 1px solid #d6e6ff;
  padding: 3px;
  border-radius: 8px;
  /* background: #4a75ff; */
  align-items: center;
  color: #636363;
  font-weight: 300;
}

.zapPayer img{
  width: 30px;
  height: 30px;
}

.zapPayer .userName {
  /* width: 100%; */
  text-align: center;
  font-weight: 600;
  margin-left: 10px;
}

.noteActionsReactions{
  display: flex;
  justify-content: space-between;
}

.noteZapReactions{
  display: flex;
  column-gap: 3px;
  max-width: 240px;
  flex-wrap: wrap;
  row-gap: 3px;
}

.noteHeroZaps.noteZapReactions{
  max-width: 1240px;
}


.noteZapReactions img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.noteHeroZaps.noteZapReactions img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.noteHeroZaps{
  padding-bottom: 10px;
}

.noteHeroZaps .zapReactionAmount{
  font-size: 10px;
  left: 14px;
}

.noteActionsReactions .noteActions{
  display: flex;
  column-gap: 10px;
  font-size: 10px;
}

.material-symbols-outlined {
  font-size: 18px;
  vertical-align: middle;
  /* color: #a3a3a3; */
}




a{
  color: #4a75ff;
  text-decoration: none
}
a:visited{
  color: #4a75ff;
}


.label {
  color: #919191;
  font-size: 14px;
}

.uppercase{
  text-transform: uppercase;
}

a.cta, button.cta{
  width: 100%;
  background: #4a75ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 500;
  border: none;
  border: none;
}

.paynote .cta{
  margin-bottom: 20px;
  display: block;
  /* color: #4a75ff; */
  /* background: #e6f0ff; */
  /* border: 1px solid #4a75ff; */
  transition: all 0.1s ease;
  box-shadow: 0 1px 0px #00000000;
  font-weight: 100;
  /* letter-spacing: 0.08rem; */
  font-weight: 600;
}

.paynote .cta:hover{
  transform: scale(1.02);
  box-shadow: 0 5px 15px #00000024;
}



.noteMainCTA.disabled{
  border: 1px solid #e3e3e3;
  color: #afafaf;
  background: #eaeaea;
  box-shadow: none;
}

.paynote .cta.disabled:hover{
  transform: scale(1);
  box-shadow: none;
}


/* New Note Form */

.overlayContainer{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #000000b3;
  align-items: center;
  justify-content: center;
}

.overlayInner {
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
}


#viewJSON .overlayInner{
    max-width: 1000px;
}

#noteJSON {
  wor;
  width: 100%;
  background: #f3f3f3;
  padding: 10px;
  box-sizing: border-box;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  max-height: 70vh;
  overflow: scroll;
  padding-bottom: 40px;
}

#newPayNoteForm, #viewJSON{
  display: none;
}

.formField, textarea, input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.formFieldGroup {
  display: flex;
  column-gap: 10px;
}

.formField label{
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 3px;
  letter-spacing: 0.01rem;
  color: #000;
  font-weight:600
}

.formField.disabled {
    opacity: 0.3;
}

#cancelNewNote{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px
}

textarea, input {
  border: 1px #cecece solid;
  padding: 10px;
  border-radius: 5px;
}



.tagName{
  font-size: 10px;
    color: #b4b4b4;
  font-weight:400
}




input::placeholder {
  opacity: 0.3;
}

input:focus::placeholder {
  color: transparent;
}


.noteNIP05.label .unverified{
  font-size: 10px;
  font-weight: bold;
  color: #de0000;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  border: 0;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  border: 1px #e9e9e9 solid;
  margin-left: -200px;
  box-shadow: 0px 6px 11px #00000029;
  transition: all 0.1s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 13px;
}

.toolTipLink{
  display: block;
  padding: 5px 0;
}

.tooltip .cta {
    margin-bottom: 8px;
}



.originZap .originZap {
    max-width: 300px;
    height: 30px;
}
.originZap .zapReaction{
    position:relative
}

.originZap .zapReaction a img{
    width:30px
}

.originZap .noteProfileImg {
    position: absolute;
    width: 5%;
    left: 20px;
    bottom: -6px;
}

.originZap .noteProfileImg img{
  height: 20px;
  width: 20px;
}

.originZap {
    position: relative;
}








.zapSliderVal {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 10px;
}


.zapSliderContainer {
  width: 100%;
}

.zapSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 34px;
  background: #ededed;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding: 4px;
  border: none;
}

.zapSlider:hover {
  opacity: 1;
}

.zapSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4a75ff;
  cursor: pointer;
  border-radius:4px
}

.zapSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4a75ff;
  cursor: pointer;
  border-radius:4px
}


.disabled {
    filter: saturate(0);
    opacity: 0.2;
}


@media screen and (max-width: 480px) {
  .paynote{
    padding: 14px 10px 20px 10px;
    margin-top: 20px;
  }
  .noteContent {
    font-size: 14px;
  }
  .noteProfileImg img {
    width: 30px;
    height: 30px;
  }
}
